<header>
  <nav id="navbar" role="navigation"></nav>
</header>


<section>
  <div class="container" id="page-content">
    <section id="all-menu-items"></section>
    <section id="categories-of-menu-items"></section>
  </div>
  <div id="page-modal"></div>
</section>


<footer>
  <div class="container-fluid"></div>
</footer>
