<!-- <div id="flash-message"> -->
  <div class="alert <%= flashClass %>">
    <% if (messages) { %>
      <% messages.forEach(function (message) { %>
        <li data-dismiss="alert"><%= message %></li>
      <% }) %>
    <% } %>
  </div>
<!-- </div> -->
