<div id="content" class="container-fluid">
  Hello There <br>
  If you got to see this: <br>
  1) My JavaScripts are being served extremely slowly, and I apologize. <br>
  2) I have to scale my app better to allow for faster JavaScript load times. <br>
  3) Your internet speed is slow.  <br>
  Either way, I hope you enjoy your time here!  <br>
  If you'd like to have a word with the web developer: www.itsjimmyh.com/#/contact
</div>
