<div class="modal fade" id="login-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Log In</h4>
      </div>
      <div class="modal-body">
        <div id="flash-message"></div>
        <form id="login-form">
          <input
            class="form-control"
            name="user[email]"
            id="user_email"
            placeholder="Email Address"
            type="text">
          <div class="row row-offset-2"></div>
          <input
            class="form-control"
            name="user[password]"
            id="user_password"
            placeholder="Password"
            type="password">
          <div class="row row-offset-2"></div>
          <input
            class="btn btn-primary form-control"
            type="submit"
            value="Log In">
        </form>
      </div>
    </div>
  </div>
</div>
