<div class="modal fade" id="signup-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Sign Up</h4>
      </div>
      <div class="modal-body">
        <div id="flash-message"></div>
        <form id="signup-form">
          <input
            class="form-control"
            name="user[first_name]"
            placeholder="First Name"
            type="text">
          <div class="row row-offset-2"></div>
          <input
            class="form-control"
            name="user[last_name]"
            placeholder="Last Name"
            type="text">
          <div class="row row-offset-2"></div>
          <input
            class="form-control"
            name="user[email]"
            placeholder="Email Address"
            type="text">
          <hr>
          <input
            class="form-control"
            name="user[password]"
            placeholder="Password"
            type="password">
          <div class="row row-offset-2"></div>
          <input
            class="form-control"
            name="user[password_confirmation]"
            placeholder="Confirm Password"
            type="password">
          <div class="row row-offset-2"></div>
          <input
            class="btn btn-primary form-control"
            type="submit"
            value="Sign Up">
        </form>
      </div>
    </div>
  </div>
</div>
