/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap.min
 *= require_tree .
 *= require_self
 */


/* General */
body {
  min-width: 100%;
  font-weight: 100;
}

html, body {
  height: 100%;
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

.container {
  min-width: 300px;
  max-width: 780px;
  width: 100%;
  margin: 0 auto;
}

.teal-color {
  background-color: #7fdbd4;
}



/* Nav */
.navbar {
  z-index: 2000;
  background: #36454f;
  margin-bottom: 0;
  // border-bottom: 1px solid #36454f;
  // padding-left: 25px;
  // padding-right: 25px;
  border-radius: 0px;
  position: relative;
}

.nav .open a:focus, .nav li>a:focus {
  background-color: transparent;
}

.nav li a:hover {
  color: #7fdbd4;
  background-color: transparent;
}

.navbar-brand, .nav>li>a {
  color: #fff;
}

.navbar-brand:hover {
  color: #7fdbd4;
  background-color: transparent;
}

ul .dropdown-menu {
  background-color: #36454f;

  li>a {
    font-weight: 100;
    color: #fff;
  }
}



/* Modal */
.modal-dialog {
  margin-top: 13%;
}

.modal-content {
  z-index: 4000;
  width: 100%;
  height: 120%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 2px;
  background-color: rgba(250, 250, 250, 1);
  // background-color: #36454f;
}

.modal-backdrop {
  // background-color: #F0EFF0;
  background-color: black;
}

.modal-backdrop.in {
  opacity: 0.2;
}

.modal-header {
  background-color: #36454f;
  color: #7fdbd4;
}

.modal-title {
  font-weight: 100;
}

.modal-body {
  // background-color: #36454f;
  form {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
  }

  .btn-custom {
    background-color: #36454f;
    color: #fff;
    font-weight: 100;
  }

  .btn-custom:hover {
    color: #7fdbd4;
  }
}

.close:hover {
  color: red;
}


/* Form */
#flash-message {
  text-align: left;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

.form-control {
  border-radius: 2px;
  margin-bottom: 10px;
  -webkit-appearance: none;
  -webkit-border-radius: 2px;
}
